In [48]:
 
import pymysql
db= pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209,
                     user="dase2020", password="dase2020", database="dase_intro_2020")
cursor=db.cursor()
 
#1. 
sql="SELECT * FROM  bicycle_train;"
cursor.execute(sql)
cursor.fetchmany(18)
result1=cursor.fetchmany(5)
print("1. 从第18条记录开始的5条记录:",end='')
print(result1)
print()
 

#2.
sql="SELECT MIN(wind) FROM bicycle_train;"
cursor.execute(sql)
result2=cursor.fetchone()
sql="SELECT MAX(wind) FROM bicycle_train;"
cursor.execute(sql)
result3=cursor.fetchone()
print("2. 数据表中风级(wind)取值范围是:",end='')
print(result2[0],end='')
print("~",end='')
print(result3[0])
print()

#3.
sql="SELECT AVG(temp_air) FROM bicycle_train WHERE city= 0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y>=100"
cursor.execute(sql)
result4=cursor.fetchone()
print("3. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的平均值:",end='')
print("%.1f"%result4[0])
print()

#4.
sql="SELECT VARIANCE(temp_air) FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y>=100"
cursor.execute(sql)
result5=cursor.fetchone()
print("4. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的方差:",end='')
print("%.2f"%result5[0])
print()

#5.
citydict={1:'上海',0:'北京'}
sql="SELECT city,SUM(y) FROM bicycle_train WHERE is_workday=1 AND weather=3 GROUP BY city ORDER BY SUM(y) DESC"
cursor.execute(sql)
result6=cursor.fetchall()
print('5. 分城市显示工作日雨雪天单车租用总量，并降序排序:',end='')
for record in result6:
    print("%s:%d"%(citydict[record[0]],record[1]))
print()

#6
sql="SELECT hour,ROUND(AVG(y)) FROM bicycle_train WHERE (hour=17 OR hour=18 OR hour=19) AND city=1 AND is_workday=1 AND temp_body<=10 GROUP BY hour ORDER BY ROUND(AVG(y))"
cursor.execute(sql)
result7=cursor.fetchall()
print('6. 分别查询17时至19时每小时上海市在工作日且体感温度不大于10摄氏度时租用单车的平均值（四舍五入至整数），并且结果按升序排序:',end='')
for record in result7:
    print("%d时%d辆"%(record[0],record[1]))

db.close()

1. 从第18条记录开始的5条记录:((19, 1, 1, 1, 18, 19, 1, 3, 5), (20, 1, 7, 0, 23, 25, 2, 1, 13), (21, 0, 9, 0, 25, 27, 1, 0, 67), (22, 0, 16, 1, 11, 11, 3, 2, 76), (23, 0, 5, 1, 13, 14, 2, 0, 10))

2. 数据表中风级(wind)取值范围是:0~7

3. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的平均值:20.6

4. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的方差:37.64

5. 分城市显示工作日雨雪天单车租用总量，并降序排序:上海:9106
北京:8084

6. 分别查询17时至19时每小时上海市在工作日且体感温度不大于10摄氏度时租用单车的平均值（四舍五入至整数），并且结果按升序排序:19时42辆
18时63辆
17时65辆